<br>
<div class="container-fluid">
  <div style="text-align: center;">
    <h1>{{ title }}</h1>
  </div>
  <br/>
  
  <div style="width: 300px;margin-left: 40%;">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter name..."
          id="name"
          required
          [(ngModel)]="nameValue"
          name="name"
        />
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email..."
          id="email"
          required
          [(ngModel)]="emailValue"
          name="email"
        />
        <label>Phone no.</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter Phone no..."
          id="phone"
          required
          [(ngModel)]="phoneValue"
          name="phone"
        />
        <label>Bio</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Bio..."
          id="bio"
          required
          [(ngModel)]="bioValue"
          name="bio"
        />
      </div>
      <div class="btn-group">
        <button (click)="onSubmit()" type="submit" class="btn btn-success">
          Submit
        </button>
      </div>
    </form>
  </div>
  <br/>
  <br/>
  <h2 style="text-align: center;">Contents from Firebase</h2>
  <div style="margin-left: 45%;">
    <pre *ngFor="let item of details | async">
      <h2>Name:</h2>{{ item.name }}
      <h2>Email:</h2>{{ item.email }}
      <h2>Phone No:</h2>{{ item.no }}
      <h2>Bio:</h2>{{ item.bio }}
    </pre>
  </div>
</div>
